{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Verb:
        <dd><input type=text size=5 name=verb>
        <dt>Protocol:
        <dd><input type=text size=6 name=protocol>
        <dt>Url:
        <dd><input type=text size=30 name=url>
        <dt>Header:
        <dd><input type=text size=30 name=header>
        <dt>Body:
        <dd><textarea name=body rows=5 cols=40></textarea>
        <dd><input type=submit value=Submit>
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
  {% for entry in entries %}
    <li>{{ entry.verb }} {{ entry.url|safe }} {{ entry.body|safe }}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
